@* nhận diện các file trong thư mục Models*@
@using MyFinalProject.Models
@*Khai báo kiểu dữ liệu của Model (có cũng được không có cũng được)*@
@model X.PagedList.IPagedList<User>
@*Đối tượng để gọi hàm hiện thị phân trang*@
@using X.PagedList.Mvc.Core
@{
    //import file layout.cshtml vào đây
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body" >
            <div class="d-flex justify-content-between" style="margin-bottom:20px;">
                <div class="gradient-text text-uppercase" style="font-size:28px; font-weight:600; padding:0; letter-spacing:2px;">Danh sách tài khoản</div>
                <a href="/Admin/Users/Create" type="button" class="btn btn-sm btn-outline-success btn-fw">Thêm tài khoản mới</a>
            </div>
            <table class="table table-bordered text-center">
                <thead class="table-light text-center">
                    <tr>
                        <th style="font-size:15px!important; font-weight:400">STT</t>
                        <th style="font-size:15px!important; font-weight:400">Tên đăng nhập</th>
                        <th style="font-size:15px!important; font-weight:400">Tên đầy đủ</th>
                        <th style="font-size:15px!important; font-weight:400">Trạng thái</th>
                        <th style="font-size:15px!important; font-weight:400">Ngày tạo</th>
                        <th style="font-size:15px!important; font-weight:400">Chức năng</th>
                    </tr>
                </thead>
                <tbody class="table-success ">
                    @foreach (var (index, item) in Model.Select((value, i) => ((Model.PageNumber - 1) * Model.PageSize + i + 1, value)))
                    {
                        <tr>
                            <td>@index</td>
                            <td>@item.NameUser</td>
                            <td>@item.NameAccount</td>
                            <td>
                                @if (item.StatusUser == true)
                                {
                                    <text>
                                        <div class="form-check form-check-success">
                                            <label class="form-check-label" style="margin-left: 0.75rem">
                                                <input type="checkbox" class="form-check-input" checked="" onchange="SaveStatus('@item.IdUser')"> Đang hoạt động <i class="input-helper"></i>
                                            </label>
                                        </div>
                                    </text>
                                }
                                else
                                {
                                    <text>
                                        <div class="form-check form-check-danger">
                                            <label class="form-check-label" style="margin-left: 0">
                                                <input type="checkbox" class="form-check-input" checked="" onchange="SaveStatus('@item.IdUser')"> Đang bị khoá <i class="input-helper"></i>
                                            </label>
                                        </div>
                                    </text>
                                }
                            </td>
                            <td>@String.Format("{0:dd/MM/yyyy}", item.DateCreated)</td>
                            <td style="text-align:center;">
                                <a href="/Admin/Users/Update/@item.IdUser" class="btn btn-sm btn-outline-primary btn-fw">Sửa</a>&nbsp;
                                <a href="/Admin/Users/Details/@item.IdUser" class="btn btn-sm btn-outline-info btn-fw">Chi tiết</a>&nbsp;
                                <a href="/Admin/Users/Delete/@item.IdUser" onclick="return window.confirm('Are you sure?');" class="btn btn-sm btn-outline-danger btn-fw">Xoá</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.PagedListPager(Model,page => Url.Action("Index", new {page=page}) )
        </div>
    </div>
</div>
<style>
    .btn.btn-fw {
        min-width: 78px !important;
    }

    .gradient-text {
        font-size: 56px;
        background-image: linear-gradient(to right,#87CEEB,#2E8B57); /* Replace these colors with your desired gradient */
        -webkit-background-clip: text; /* For Safari */
        background-clip: text;
        color: transparent;
        text-align: center;
    }

   

</style>

@section scripts{
    <script type="text/javascript">
        function SaveStatus(IdUser) {
            //location.href = "/Admin/Users/Decentralization?Id_user=" + Id_user + "&Id_per=" + Id_per;
            var jsonData = {
                IdUser: IdUser
            }
            $.ajax({
                url: '/Admin/Users/SaveStatus',
                type: 'post',
                data: jsonData,
                dataType: 'JSON',
                success: function (data) {
                    alert(data.status);
                    location.reload();
                }
            })
        }
    </script>
}